[submodule "lfs-test-submodule-ownrepo"]
	path = lfs-test-submodule-ownrepo
	url = ../lfs-test-submodule
[submodule "src/LemonTreePublicDemo"]
	path = src/LemonTreePublicDemo
	url = ../../danielsiegl/LemonTreePublicDemo
[submodule "LemonTreePublicDemo"]
	path = LemonTreePublicDemo
	url = ../../danielsiegl/LemonTreePublicDemo
[submodule "LemonTreePublicDemox"]
	path = LemonTreePublicDemox
	url = git@github.com:danielsiegl/LemonTreePublicDemo.git
